.header{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;  
    color: white;
    background-color: var(--chakra-colors-primary-1);

}